:root {
  font-family: "Fredoka One", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;

  background-color: green;

  --black: #242424;
  --green: #59c10c;
  --light-blue: #49cfd3;
  --yellow: #fdd600;
}

body {
  margin: 0;
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0;
  display: grid;
  place-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
  padding: 0 1em;
}

.board {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em 0 2em;
}

header {
  padding-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-players-and-button {
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  border-radius: 0.4em;
  gap: 1em;
  width: 100%;
  padding: 1em;
}

header p {
  color: white;
  font-size: 1.4rem;
  line-height: 1.5em;
  display: flex;
  gap: 0.6em;
  align-items: center;
}

header p span {
  background-color: rgba(255, 255, 255, 0.096);
  padding: 0.2em 0.3em;
  border-radius: 50%;
  font-size: 2rem;
}

h1 {
  width: 100%;
  color: var(--black);
  text-shadow: 0.08em 0.03em white;
  font-size: 3rem;
  line-height: normal;
  font-family: "Fredoka One", cursive;
  text-align: center;
  padding: 0.2em 0.4em;
  background-color: var(--yellow);
  border-radius: 0.04em;
}

button {
  padding: 0.5em 1em;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--black);
  font-family: "Fredoka One";
  font-size: 1.1rem;
}

header button:hover {
  border: 2px solid black;
  background-color: var(--yellow);
  color: var(--black);
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5em;
}

.turn-section {
  display: flex;
  justify-content: center;
  gap: 1em;
  align-items: center;
  color: var(--black);
  padding: 1.1em;
  border-radius: 0.4em;
  background-color: var(--yellow);
  margin-bottom: 1em;
}

.turn-section h2 {
  font-size: 1.6rem;
}

.turn-section h2 span {
  background-color: rgba(255, 255, 255, 0.469);
  padding: 0.2em 0.3em;
  border-radius: 50%;
  font-size: 2rem;
  margin-left: 0.5em;
}

h2 {
  font-size: 1.6rem;
}

.winner h2 {
  margin-block-start: 1em;
  margin-block-end: 1em;
  color: white;
}

.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: white;
  background-color: white;
  visibility: visible;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  align-content: center;
  background-image: url("./assets/background.jpg");
  background-color: rgba(0, 0, 0, 0.119);
  background-size: cover;
}

.winner-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 1em;
}

.winner-modal-button {
  font-size: 1.3rem;
  text-align: center;
  width: 100% !important;
  margin: 1em !important;
  padding: 1em !important;
  background-color: var(--yellow) !important;
  color: var(--black) !important;
}

.winner-modal-button:hover {
  border: 2px solid white !important;
  background-color: var(--green) !important;
}

.winner .text {
  font-size: 2rem;
  background-color: var(--black);
  height: fit-content;
  width: fit-content;
  border: 2px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 26vw;
  max-width: 100px;
  aspect-ratio: 1/1;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 3rem;
}

@media (min-width: 768px) {
  .header-players-and-button {
    flex-direction: row;
  }

  .board .game {
    gap: 1em;
  }
}
