:root {
  font-family: "Fredoka One", cursive, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: green;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --black: #242424;
  --green: #59c10c;
  --light-blue: #49cfd3;
  --yellow: #fdd600;
}

body {
  margin: 0;
  width: 100%;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  padding: 0;
}

.board {
  width: 100%;
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  margin-bottom: 1em;
  padding: 0.5em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: var(--black);
  text-shadow: 0.08em 0.03em white;
  font-size: 4rem;
  padding: 0.1em;
  line-height: normal;
  font-family: "Fredoka One", cursive;
  width: max-content;
  backdrop-filter: blur(4px);
  text-align: center;
}

.board button {
  padding: 0.5em 1em;
  margin: 25px;
  background: transparent;
  border: 2px solid white;
  color: white;
  border-radius: 5px;
  transition: 0.2s;
  font-weight: bold;
  cursor: pointer;
  background-color: var(--black);
  font-family: "Fredoka One";
  font-size: 1.1rem;
}

.board button:hover {
  border: 2px solid black;
  background-color: var(--yellow);
  color: var(--black);
}

.board .game {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.turn-section {
  display: flex;
  margin-top: 2em;
  gap: 1em;
  align-items: center;
  color: var(--black);
  padding: 1.4em;
  border-radius: 0.4em;
  background-color: var(--yellow);
}

h2 {
  font-size: 2.4rem;
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.turn {
  display: flex;
  justify-content: center;
  width: fit-content;
  position: relative;
  gap: 1em;
}

.turn .square,
.winner .square {
  width: 70px;
  height: 70px;
  pointer-events: none;
  border-color: transparent;
}

.square.is-selected {
  color: white;
  background-color: white;
  visibility: visible;
}

.winner {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  align-content: center;
  background-image: url("./assets/background.jpg");
  background-size: cover;
}

.winner-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  padding: 1em;
}

.winner-modal-button {
  font-size: 1.3rem;
  text-align: center;
  /* max-width: 100% !important; */
  width: 100% !important;
  margin: 1em !important;
  padding: 1em !important;
  background-color: var(--green) !important;
  color: var(--black) !important;
}

.winner-modal-button:hover {
  border: 2px solid var(--green) !important;
}

.winner .text {
  font-size: 2rem;
  background-color: var(--black);
  height: fit-content;
  width: fit-content;
  border: 2px solid var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 1em;
}

.winner .win {
  margin: 0 auto;
  width: fit-content;
  border: 2px solid white;
  border-radius: 10px;
  display: flex;
  gap: 15px;
}

.square {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  background-color: white;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 48px;
}
